*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html,
body,
.container {
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.item {
  width: 27%;
  height: 20rem;
  margin: 2rem;
  background-color: #FFFFFF;
  display: inline-block;
  position: relative;
  margin-bottom: 4rem;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

li:hover {
  box-shadow: 10px 14px 45px rgba(0, 0, 0, 0.1);
}

li .item-image {
  position: relative;
  line-height: 20rem;
  font-size: 5rem;
  text-align: center;
}

li .item-detail {
  padding: 0 1rem;
  left: 0px;
  top: 100%;
  position: absolute;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 1rem;
  font-weight: strong;

      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.b {
    float: left;
    font-weight: bold;
  }
  em {
    float: right;
    color: #666;
  }

li .item-detail:after {
    content: "";
    display: table;
    clear: both;
}

li a {
  font-size: 1rem;
  text-decoration: none;
  color: #666;
}

li div {
  position: absolute;
}


@media screen and (max-width: 68.125em) {
	li.item {
		width: 41%;
	}
}

@media screen and (max-width: 46.125em) {
	li.item {
		width: 80%;
	}
}
.image{
    height: 300px;
    width: 300px;
}